<!DOCTYPE html>
<html ng-app="GEARS">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GEARS</title>
    <link href="shared/styles/style.css">
    <link rel="stylesheet/less" type="text/css" href="shared/styles/style.less">
    <link href="shared/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper" ng-controller="GEARSCtrl">
        <div id="header">
            <div id="appTitle">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" ng-if="application.info.title != ''">{{ application.info.title }}
                                <span class="domain">{{ application.info.domain }}</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="appNavbar">
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href>{{ gears.partitions.findItemByField("isActive", true).title }}</a>
                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div id="content">
            <div id="menu" ng-controller="MenuCtrl">
                <div id="menuHeader" class="bg-primary">
                    Меню {{ partitions.items }}
                </div>
                <div id="menuItems">
                   <!-- <a href="{{ '#' + partition.url }}" class="menuItem" -->
                    <a href="{{ '#' + partition.url }}" class="menuItem"
                       ng-class="{active: partition.isActive}" ng-repeat="partition in menu.items | orderBy:'+orderId'"
                       ng-click="setActivePartition(partition.id)" title="{{ partition.description }}">
                        <div class="menuItemIcon">
                            <img src="" alt=""/>
                        </div>
                        <div class="menuItemTitle">
                            {{ partition.title }}<br>
                        </div>
                        <div class="menuItemDescription">{{ partition.description }}</div>
                    </a>
                </div>
            </div>
            <div id="template" ng-view></div>
        </div>
    </div>

    <!-- Подключение библиотек -->
    <script src="shared/libs/angularjs/angular.min.js"></script>
    <script src="shared/libs/angularjs/angular-route.min.js"></script>
    <script src="shared/libs/angularjs/angular-cookies.min.js"></script>
    <script src="shared/libs/angularjs/angular-animate.min.js"></script>
    <script src="shared/libs/momentjs/moment.min.js"></script>
    <script src="shared/libs/less/less-1.7.3.min.js"></script>
    <!-- Подключение модулей платформы -->
    <script src="platform/classes.js"></script>
    <script src="platform/platform.js"></script>
    <script src="platform/platform.modules.js"></script>
    <script src="platform/platform.filters.js"></script>
    <script src="platform/platform.directives.js"></script>
    <!-- <script src="platform/modules/authrization/authorization.js"></script> -->
    <script src="platform/modules/console/console.js"></script>
    <script src="platform/modules/module-manager/moduleManager.js"></script>
    <script src="specific/modules/foods/foods.js"></script>
    <!-- Подключение модулей приложения -->
    <script src="specific/classes.js"></script>
    <script src="specific/specific.js"></script>
    <script src="specific/specific.modules.js"></script>
    <script src="specific/specific.filters.js"></script>
    <script src="specific/specific.directives.js"></script>
    <!-- Подключение глобального модуля -->
    <script src="shared/GEARS.js"></script>
</body>
</html>